azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "SOCRadar Threat Feeds for Microsoft Sentinel",
        "description": "Imports threat intelligence indicators from SOCRadar feed API into Microsoft Sentinel. Uses Logic App with Storage Table checkpoint, multi-collection support, and optional custom table logging.",
        "version": "1.0.0",
        "author": "SOCRadar",
        "lastUpdateTime": "2026-02-23T00:00:00.000Z"
    },
    "parameters": {
        "WorkspaceName": {
            "type": "string",
            "metadata": {
                "description": "Microsoft Sentinel Log Analytics Workspace Name"
            }
        },
        "WorkspaceLocation": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location/region of the Log Analytics workspace"
            }
        },
        "SOCRadarApiKey": {
            "type": "securestring",
            "metadata": {
                "description": "SOCRadar Platform API Key"
            }
        },
        "IncludeRecommended": {
            "type": "bool",
            "defaultValue": true,
            "metadata": {
                "description": "Include 7 recommended SOCRadar threat feed collections"
            }
        },
        "CustomCollectionIds": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "Comma-separated custom feed collection UUIDs"
            }
        },
        "CustomCollectionNames": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "Comma-separated custom collection names (matching IDs order)"
            }
        },
        "CustomCollectionTypes": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "Comma-separated indicator types for custom collections (ip, domain, hash, url, email)"
            }
        },
        "PollingIntervalMinutes": {
            "type": "int",
            "defaultValue": 60,
            "minValue": 5,
            "maxValue": 1440,
            "metadata": {
                "description": "How often to poll SOCRadar feeds (5-1440 minutes)"
            }
        },
        "MinConfidence": {
            "type": "int",
            "defaultValue": 0,
            "minValue": 0,
            "maxValue": 100,
            "metadata": {
                "description": "Minimum confidence score to upload indicator (0-100)"
            }
        },
        "MaxCollectionsPerRun": {
            "type": "int",
            "defaultValue": 50,
            "minValue": 1,
            "maxValue": 500,
            "metadata": {
                "description": "Maximum collections to process per run"
            }
        },
        "EnableFeedsTable": {
            "type": "bool",
            "defaultValue": false,
            "metadata": {
                "description": "Enable logging indicators to SOCRadar_Feeds_CL custom table"
            }
        },
        "EnableAuditLogging": {
            "type": "bool",
            "defaultValue": false,
            "metadata": {
                "description": "Enable audit logging to SOCRadar_Feeds_Audit_CL custom table"
            }
        },
        "_triggerStartTime": {
            "type": "string",
            "defaultValue": "[dateTimeAdd(utcNow(), 'PT3M')]",
            "metadata": {
                "description": "Internal: Logic App starts 3 min after deploy for role propagation"
            }
        }
    },
    "variables": {
        "playbookName": "SOCRadar-Feeds-Import",
        "storageAccountName": "[take(concat('srfeeds', uniqueString(resourceGroup().id)), 24)]",
        "tableName": "FeedState",
        "SentinelContributorRoleId": "ab8e14d6-4a74-4a29-9ba8-549422addade",
        "StorageTableDataContributorRoleId": "0a9a7e1f-b9d0-4cc4-a60d-0319b160aaa3",
        "MonitoringMetricsPublisherRoleId": "3913510d-42f4-4e42-8a64-420c390055eb",
        "FeedsDceName": "SOCRadar-Feeds-DCE",
        "FeedsTableName": "SOCRadar_Feeds_CL",
        "FeedsDcrName": "SOCRadar-Feeds-DCR",
        "FeedsStreamName": "Custom-SOCRadar_Feeds_CL",
        "AuditTableName": "SOCRadar_Feeds_Audit_CL",
        "AuditDcrName": "SOCRadar-Feeds-Audit-DCR",
        "AuditStreamName": "Custom-SOCRadar_Feeds_Audit_CL",
        "workspaceResourceId": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]",
        "enableDce": "[or(parameters('EnableFeedsTable'), parameters('EnableAuditLogging'))]"
    },
    "resources": [
        {
            "type": "Microsoft.OperationalInsights/workspaces",
            "apiVersion": "2023-09-01",
            "name": "[parameters('WorkspaceName')]",
            "location": "[parameters('WorkspaceLocation')]",
            "properties": {
                "sku": {
                    "name": "PerGB2018"
                }
            }
        },
        {
            "type": "Microsoft.OperationsManagement/solutions",
            "apiVersion": "2015-11-01-preview",
            "name": "[concat('SecurityInsights(', parameters('WorkspaceName'), ')')]",
            "location": "[parameters('WorkspaceLocation')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]"
            ],
            "plan": {
                "name": "[concat('SecurityInsights(', parameters('WorkspaceName'), ')')]",
                "publisher": "Microsoft",
                "product": "OMSGallery/SecurityInsights",
                "promotionCode": ""
            },
            "properties": {
                "workspaceResourceId": "[variables('workspaceResourceId')]"
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/providers/onboardingStates",
            "apiVersion": "2024-03-01",
            "name": "[concat(parameters('WorkspaceName'), '/Microsoft.SecurityInsights/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationsManagement/solutions', concat('SecurityInsights(', parameters('WorkspaceName'), ')'))]"
            ],
            "properties": {}
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2023-05-01",
            "name": "[variables('storageAccountName')]",
            "location": "[resourceGroup().location]",
            "sku": { "name": "Standard_LRS" },
            "kind": "StorageV2",
            "properties": {
                "supportsHttpsTrafficOnly": true,
                "minimumTlsVersion": "TLS1_2"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/tableServices",
            "apiVersion": "2023-05-01",
            "name": "[concat(variables('storageAccountName'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
            ]
        },
        {
            "type": "Microsoft.Storage/storageAccounts/tableServices/tables",
            "apiVersion": "2023-05-01",
            "name": "[concat(variables('storageAccountName'), '/default/', variables('tableName'))]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/tableServices', variables('storageAccountName'), 'default')]"
            ]
        },
        {
            "condition": "[variables('enableDce')]",
            "type": "Microsoft.Insights/dataCollectionEndpoints",
            "apiVersion": "2023-03-11",
            "name": "[variables('FeedsDceName')]",
            "location": "[parameters('WorkspaceLocation')]",
            "properties": {
                "description": "Data Collection Endpoint for SOCRadar Feeds logging",
                "networkAcls": {
                    "publicNetworkAccess": "Enabled"
                }
            }
        },
        {
            "condition": "[parameters('EnableFeedsTable')]",
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2022-10-01",
            "name": "[concat(parameters('WorkspaceName'), '/', variables('FeedsTableName'))]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]",
                "[resourceId('Microsoft.OperationsManagement/solutions', concat('SecurityInsights(', parameters('WorkspaceName'), ')'))]"
            ],
            "properties": {
                "schema": {
                    "name": "[variables('FeedsTableName')]",
                    "columns": [
                        { "name": "TimeGenerated", "type": "datetime", "description": "Event timestamp" },
                        { "name": "CollectionName", "type": "string", "description": "Feed collection name" },
                        { "name": "CollectionUUID", "type": "string", "description": "Feed collection UUID" },
                        { "name": "IndicatorValue", "type": "string", "description": "Indicator value (IP, domain, hash, etc.)" },
                        { "name": "IndicatorType", "type": "string", "description": "Indicator type (ipv4-addr, domain-name, file, url, email-addr)" },
                        { "name": "LatestSeenDate", "type": "string", "description": "Latest seen date from SOCRadar" },
                        { "name": "Source", "type": "string", "description": "Source identifier" }
                    ]
                },
                "retentionInDays": 30,
                "plan": "Analytics"
            }
        },
        {
            "condition": "[parameters('EnableFeedsTable')]",
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2023-03-11",
            "name": "[variables('FeedsDcrName')]",
            "location": "[parameters('WorkspaceLocation')]",
            "dependsOn": [
                "[resourceId('Microsoft.Insights/dataCollectionEndpoints', variables('FeedsDceName'))]",
                "[resourceId('Microsoft.OperationalInsights/workspaces/tables', parameters('WorkspaceName'), variables('FeedsTableName'))]"
            ],
            "kind": "Direct",
            "properties": {
                "description": "DCR for SOCRadar Feeds indicator logging",
                "dataCollectionEndpointId": "[resourceId('Microsoft.Insights/dataCollectionEndpoints', variables('FeedsDceName'))]",
                "streamDeclarations": {
                    "[variables('FeedsStreamName')]": {
                        "columns": [
                            { "name": "TimeGenerated", "type": "datetime" },
                            { "name": "CollectionName", "type": "string" },
                            { "name": "CollectionUUID", "type": "string" },
                            { "name": "IndicatorValue", "type": "string" },
                            { "name": "IndicatorType", "type": "string" },
                            { "name": "LatestSeenDate", "type": "string" },
                            { "name": "Source", "type": "string" }
                        ]
                    }
                },
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[variables('workspaceResourceId')]",
                            "name": "workspace"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [ "[variables('FeedsStreamName')]" ],
                        "destinations": [ "workspace" ],
                        "transformKql": "source",
                        "outputStream": "[variables('FeedsStreamName')]"
                    }
                ]
            }
        },
        {
            "condition": "[parameters('EnableAuditLogging')]",
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2022-10-01",
            "name": "[concat(parameters('WorkspaceName'), '/', variables('AuditTableName'))]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]",
                "[resourceId('Microsoft.OperationsManagement/solutions', concat('SecurityInsights(', parameters('WorkspaceName'), ')'))]"
            ],
            "properties": {
                "schema": {
                    "name": "[variables('AuditTableName')]",
                    "columns": [
                        { "name": "TimeGenerated", "type": "datetime", "description": "Event timestamp" },
                        { "name": "CollectionsProcessed", "type": "int", "description": "Number of collections processed" },
                        { "name": "IndicatorsCreated", "type": "int", "description": "Indicators successfully uploaded" },
                        { "name": "IndicatorsSkipped", "type": "int", "description": "Indicators skipped" },
                        { "name": "DurationMs", "type": "int", "description": "Run duration in milliseconds" },
                        { "name": "Status", "type": "string", "description": "Run status (Success, Failed)" },
                        { "name": "ErrorMessage", "type": "string", "description": "Error details if any" }
                    ]
                },
                "retentionInDays": 30,
                "plan": "Analytics"
            }
        },
        {
            "condition": "[parameters('EnableAuditLogging')]",
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2023-03-11",
            "name": "[variables('AuditDcrName')]",
            "location": "[parameters('WorkspaceLocation')]",
            "dependsOn": [
                "[resourceId('Microsoft.Insights/dataCollectionEndpoints', variables('FeedsDceName'))]",
                "[resourceId('Microsoft.OperationalInsights/workspaces/tables', parameters('WorkspaceName'), variables('AuditTableName'))]"
            ],
            "kind": "Direct",
            "properties": {
                "description": "DCR for SOCRadar Feeds audit log ingestion",
                "dataCollectionEndpointId": "[resourceId('Microsoft.Insights/dataCollectionEndpoints', variables('FeedsDceName'))]",
                "streamDeclarations": {
                    "[variables('AuditStreamName')]": {
                        "columns": [
                            { "name": "TimeGenerated", "type": "datetime" },
                            { "name": "CollectionsProcessed", "type": "int" },
                            { "name": "IndicatorsCreated", "type": "int" },
                            { "name": "IndicatorsSkipped", "type": "int" },
                            { "name": "DurationMs", "type": "int" },
                            { "name": "Status", "type": "string" },
                            { "name": "ErrorMessage", "type": "string" }
                        ]
                    }
                },
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[variables('workspaceResourceId')]",
                            "name": "workspace"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [ "[variables('AuditStreamName')]" ],
                        "destinations": [ "workspace" ],
                        "transformKql": "source",
                        "outputStream": "[variables('AuditStreamName')]"
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[variables('playbookName')]",
            "location": "[resourceGroup().location]",
            "identity": { "type": "SystemAssigned" },
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]",
                "[resourceId('Microsoft.Storage/storageAccounts/tableServices/tables', variables('storageAccountName'), 'default', variables('tableName'))]"
            ],
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "SOCRadarApiKey": { "type": "SecureString" },
                        "IncludeRecommended": { "type": "Bool" },
                        "CustomCollectionIds": { "type": "String" },
                        "CustomCollectionNames": { "type": "String" },
                        "CustomCollectionTypes": { "type": "String" },
                        "WorkspaceName": { "type": "String" },
                        "StorageAccountName": { "type": "String" },
                        "PollingIntervalMinutes": { "type": "Int" },
                        "MinConfidence": { "type": "Int" },
                        "MaxCollectionsPerRun": { "type": "Int" },
                        "EnableFeedsTable": { "type": "Bool", "defaultValue": false },
                        "EnableAuditLogging": { "type": "Bool", "defaultValue": false },
                        "FeedsDcrEndpoint": { "type": "String", "defaultValue": "" },
                        "FeedsDcrImmutableId": { "type": "String", "defaultValue": "" },
                        "FeedsStreamName": { "type": "String", "defaultValue": "Custom-SOCRadar_Feeds_CL" },
                        "AuditDcrEndpoint": { "type": "String", "defaultValue": "" },
                        "AuditDcrImmutableId": { "type": "String", "defaultValue": "" },
                        "AuditStreamName": { "type": "String", "defaultValue": "Custom-SOCRadar_Feeds_Audit_CL" },
                        "SubscriptionId": { "type": "String" },
                        "ResourceGroupName": { "type": "String" }
                    },
                    "triggers": {
                        "Recurrence": {
                            "type": "Recurrence",
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": "[parameters('PollingIntervalMinutes')]",
                                "startTime": "[parameters('_triggerStartTime')]"
                            },
                            "operationOptions": "SingleInstance"
                        }
                    },
                    "actions": {
                        "Record_Start_Time": {
                            "type": "Compose",
                            "inputs": "@ticks(utcNow())",
                            "runAfter": {}
                        },
                        "Build_Recommended_Collections": {
                            "type": "Compose",
                            "inputs": [
                                {"id": "4d7a69ce6e7c49ff8c916da5d7343916", "name": "SOCRadar-APT-Recommended-Block-IP", "type": "ipv4-addr"},
                                {"id": "0cb06558728b4dc296019c93b78360d1", "name": "SOCRadar-APT-Recommended-Block-Hash", "type": "file"},
                                {"id": "9079dcc2f96e4835bb807026d4cdcc86", "name": "SOCRadar-APT-Recommended-Block-Domain", "type": "domain-name"},
                                {"id": "8742cab86cc4414092217f87298e94a1", "name": "SOCRadar-Recommended-Block-Hash", "type": "file"},
                                {"id": "e89ab3b58e174b8c82767088d8e66cae", "name": "SOCRadar-Attackers-Recommended-Block-IP", "type": "ipv4-addr"},
                                {"id": "606a83358bbe466d8c3885e37fa595b7", "name": "SOCRadar-Attackers-Recommended-Block-Domain", "type": "domain-name"},
                                {"id": "03cc11380b5d4a77a0d0cc2a7c568230", "name": "SOCRadar-Recommended-Phishing-Global", "type": "url"}
                            ],
                            "runAfter": { "Record_Start_Time": ["Succeeded"] }
                        },
                        "Check_Custom_Collections": {
                            "type": "If",
                            "expression": {
                                "and": [
                                    { "not": { "equals": ["@parameters('CustomCollectionIds')", ""] } }
                                ]
                            },
                            "actions": {
                                "Build_Custom_Collections_Select": {
                                    "type": "Select",
                                    "inputs": {
                                        "from": "@range(0, length(split(parameters('CustomCollectionIds'), ',')))",
                                        "select": {
                                            "id": "@trim(split(parameters('CustomCollectionIds'), ',')[item()])",
                                            "name": "@if(and(not(empty(parameters('CustomCollectionNames'))), less(item(), length(split(parameters('CustomCollectionNames'), ',')))), trim(split(parameters('CustomCollectionNames'), ',')[item()]), concat('Custom-Feed-', add(item(), 1)))",
                                            "type": "@if(and(not(empty(parameters('CustomCollectionTypes'))), less(item(), length(split(parameters('CustomCollectionTypes'), ',')))), trim(split(parameters('CustomCollectionTypes'), ',')[item()]), 'unknown')"
                                        }
                                    },
                                    "runAfter": {}
                                }
                            },
                            "else": {
                                "actions": {
                                    "Build_Empty_Custom": {
                                        "type": "Compose",
                                        "inputs": [],
                                        "runAfter": {}
                                    }
                                }
                            },
                            "runAfter": { "Build_Recommended_Collections": ["Succeeded"] }
                        },
                        "Get_Custom_Result": {
                            "type": "Compose",
                            "inputs": "@if(not(equals(parameters('CustomCollectionIds'), '')), body('Build_Custom_Collections_Select'), outputs('Build_Empty_Custom'))",
                            "runAfter": { "Check_Custom_Collections": ["Succeeded"] }
                        },
                        "Build_All_Collections": {
                            "type": "Compose",
                            "inputs": "@if(parameters('IncludeRecommended'), if(equals(length(outputs('Get_Custom_Result')), 0), outputs('Build_Recommended_Collections'), union(outputs('Build_Recommended_Collections'), outputs('Get_Custom_Result'))), if(equals(length(outputs('Get_Custom_Result')), 0), json('[]'), outputs('Get_Custom_Result')))",
                            "runAfter": { "Get_Custom_Result": ["Succeeded"] }
                        },
                        "Initialize_Total_Created": {
                            "type": "InitializeVariable",
                            "inputs": { "variables": [{ "name": "total_created", "type": "integer", "value": 0 }] },
                            "runAfter": { "Build_All_Collections": ["Succeeded"] }
                        },
                        "Initialize_Total_Skipped": {
                            "type": "InitializeVariable",
                            "inputs": { "variables": [{ "name": "total_skipped", "type": "integer", "value": 0 }] },
                            "runAfter": { "Initialize_Total_Created": ["Succeeded"] }
                        },
                        "Take_Collections_For_This_Run": {
                            "type": "Compose",
                            "inputs": "@take(outputs('Build_All_Collections'), parameters('MaxCollectionsPerRun'))",
                            "runAfter": { "Initialize_Total_Skipped": ["Succeeded"] }
                        },
                        "For_Each_Collection": {
                            "type": "Foreach",
                            "foreach": "@outputs('Take_Collections_For_This_Run')",
                            "runtimeConfiguration": { "concurrency": { "repetitions": 1 } },
                            "actions": {
                                "Delay_Before_API_Call": {
                                    "type": "Wait",
                                    "inputs": {
                                        "interval": {
                                            "count": 5,
                                            "unit": "Second"
                                        }
                                    },
                                    "runAfter": {}
                                },
                                "Fetch_Feed": {
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "uri": "@{concat('https://platform.socradar.com/api/threat/intelligence/feed_list/', items('For_Each_Collection')?['id'], '.json?key=', parameters('SOCRadarApiKey'), '&v=2')}",
                                        "retryPolicy": { "type": "exponential", "count": 3, "interval": "PT10S", "maximumInterval": "PT2M" }
                                    },
                                    "runtimeConfiguration": { "secureData": { "properties": ["inputs"] } },
                                    "runAfter": { "Delay_Before_API_Call": ["Succeeded"] }
                                },
                                "Read_Collection_Checkpoint": {
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "uri": "@{concat('https://', parameters('StorageAccountName'), '.table.core.windows.net/FeedState(PartitionKey=''', items('For_Each_Collection')?['id'], ''',RowKey=''state'')')}",
                                        "headers": {
                                            "Accept": "application/json;odata=nometadata",
                                            "x-ms-version": "2020-12-06"
                                        },
                                        "authentication": { "type": "ManagedServiceIdentity", "audience": "https://storage.azure.com" },
                                        "retryPolicy": { "type": "exponential", "count": 3, "interval": "PT5S", "maximumInterval": "PT1M" }
                                    },
                                    "runAfter": { "Fetch_Feed": ["Succeeded"] }
                                },
                                "Get_Last_Processed_Date": {
                                    "type": "Compose",
                                    "inputs": "@if(equals(outputs('Read_Collection_Checkpoint')['statusCode'], 200), coalesce(body('Read_Collection_Checkpoint')?['LastProcessedDate'], '1970-01-01T00:00:00Z'), '1970-01-01T00:00:00Z')",
                                    "runAfter": { "Read_Collection_Checkpoint": ["Succeeded", "Failed"] }
                                },
                                "Filter_New_Indicators": {
                                    "type": "Query",
                                    "inputs": {
                                        "from": "@json(body('Fetch_Feed'))",
                                        "where": "@and(not(empty(item()?['feed'])), greater(coalesce(item()?['latest_seen_date'], '2099-01-01T00:00:00Z'), outputs('Get_Last_Processed_Date')))"
                                    },
                                    "runAfter": { "Get_Last_Processed_Date": ["Succeeded"] }
                                },
                                "For_Each_New_Indicator": {
                                    "type": "Foreach",
                                    "foreach": "@body('Filter_New_Indicators')",
                                    "runtimeConfiguration": { "concurrency": { "repetitions": 10 } },
                                    "actions": {
                                        "Build_Pattern": {
                                            "type": "Compose",
                                            "inputs": "@if(equals(items('For_Each_Collection')?['type'], 'ipv4-addr'), concat('[ipv4-addr:value = ''', items('For_Each_New_Indicator')?['feed'], ''']'), if(equals(items('For_Each_Collection')?['type'], 'domain-name'), concat('[domain-name:value = ''', items('For_Each_New_Indicator')?['feed'], ''']'), if(equals(items('For_Each_Collection')?['type'], 'file'), concat('[file:hashes.MD5 = ''', items('For_Each_New_Indicator')?['feed'], ''']'), if(equals(items('For_Each_Collection')?['type'], 'url'), concat('[url:value = ''', items('For_Each_New_Indicator')?['feed'], ''']'), if(equals(items('For_Each_Collection')?['type'], 'email-addr'), concat('[email-addr:value = ''', items('For_Each_New_Indicator')?['feed'], ''']'), concat('[domain-name:value = ''', items('For_Each_New_Indicator')?['feed'], ''']'))))))",
                                            "runAfter": {}
                                        },
                                        "Upload_To_Sentinel_TI": {
                                            "type": "Http",
                                            "inputs": {
                                                "method": "POST",
                                                "uri": "https://management.azure.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{parameters('WorkspaceName')}/providers/Microsoft.SecurityInsights/threatIntelligence/main/createIndicator?api-version=2024-03-01",
                                                "headers": { "Content-Type": "application/json" },
                                                "authentication": { "type": "ManagedServiceIdentity", "audience": "https://management.azure.com" },
                                                "body": {
                                                    "kind": "indicator",
                                                    "properties": {
                                                        "source": "SOCRadar Threat Feeds",
                                                        "displayName": "@{concat(items('For_Each_Collection')?['type'], ' - ', take(coalesce(items('For_Each_New_Indicator')?['feed'], ''), 100))}",
                                                        "description": "@{concat('SOCRadar feed: ', items('For_Each_Collection')?['name'])}",
                                                        "pattern": "@{outputs('Build_Pattern')}",
                                                        "patternType": "@{items('For_Each_Collection')?['type']}",
                                                        "confidence": 80,
                                                        "threatTypes": ["Malware"],
                                                        "validFrom": "@{coalesce(items('For_Each_New_Indicator')?['latest_seen_date'], utcNow())}",
                                                        "labels": ["SOCRadar", "Feeds", "@{items('For_Each_Collection')?['name']}"],
                                                        "threatIntelligenceTags": ["SOCRadar", "Feeds"]
                                                    }
                                                },
                                                "retryPolicy": { "type": "exponential", "count": 3, "interval": "PT5S", "maximumInterval": "PT1M" }
                                            },
                                            "runAfter": { "Build_Pattern": ["Succeeded"] }
                                        },
                                        "Check_Upload_Success": {
                                            "type": "If",
                                            "expression": {
                                                "or": [
                                                    { "equals": ["@outputs('Upload_To_Sentinel_TI')['statusCode']", 200] },
                                                    { "equals": ["@outputs('Upload_To_Sentinel_TI')['statusCode']", 201] }
                                                ]
                                            },
                                            "actions": {
                                                "Increment_Created": {
                                                    "type": "IncrementVariable",
                                                    "inputs": { "name": "total_created", "value": 1 },
                                                    "runAfter": {}
                                                }
                                            },
                                            "else": {
                                                "actions": {
                                                    "Increment_Skipped": {
                                                        "type": "IncrementVariable",
                                                        "inputs": { "name": "total_skipped", "value": 1 },
                                                        "runAfter": {}
                                                    }
                                                }
                                            },
                                            "runAfter": { "Upload_To_Sentinel_TI": ["Succeeded", "Failed"] }
                                        },
                                        "Check_Feeds_Table_Enabled": {
                                            "type": "If",
                                            "expression": {
                                                "and": [
                                                    { "equals": ["@parameters('EnableFeedsTable')", true] }
                                                ]
                                            },
                                            "actions": {
                                                "Log_To_Feeds_Table": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "method": "POST",
                                                        "uri": "@{concat(parameters('FeedsDcrEndpoint'), '/dataCollectionRules/', parameters('FeedsDcrImmutableId'), '/streams/', parameters('FeedsStreamName'), '?api-version=2023-01-01')}",
                                                        "headers": { "Content-Type": "application/json" },
                                                        "authentication": { "type": "ManagedServiceIdentity", "audience": "https://monitor.azure.com" },
                                                        "body": [
                                                            {
                                                                "TimeGenerated": "@{utcNow()}",
                                                                "CollectionName": "@{items('For_Each_Collection')?['name']}",
                                                                "CollectionUUID": "@{items('For_Each_Collection')?['id']}",
                                                                "IndicatorValue": "@{take(coalesce(items('For_Each_New_Indicator')?['feed'], ''), 500)}",
                                                                "IndicatorType": "@{items('For_Each_Collection')?['type']}",
                                                                "LatestSeenDate": "@{coalesce(items('For_Each_New_Indicator')?['latest_seen_date'], '')}",
                                                                "Source": "SOCRadar Threat Feeds"
                                                            }
                                                        ],
                                                        "retryPolicy": { "type": "exponential", "count": 2, "interval": "PT5S", "maximumInterval": "PT30S" }
                                                    },
                                                    "runAfter": {}
                                                }
                                            },
                                            "else": { "actions": {} },
                                            "runAfter": { "Check_Upload_Success": ["Succeeded"] }
                                        }
                                    },
                                    "runAfter": { "Filter_New_Indicators": ["Succeeded"] }
                                },
                                "Save_Collection_Checkpoint": {
                                    "type": "Http",
                                    "inputs": {
                                        "method": "PUT",
                                        "uri": "@{concat('https://', parameters('StorageAccountName'), '.table.core.windows.net/FeedState(PartitionKey=''', items('For_Each_Collection')?['id'], ''',RowKey=''state'')')}",
                                        "headers": {
                                            "Content-Type": "application/json",
                                            "x-ms-version": "2020-12-06"
                                        },
                                        "authentication": { "type": "ManagedServiceIdentity", "audience": "https://storage.azure.com" },
                                        "body": {
                                            "PartitionKey": "@{items('For_Each_Collection')?['id']}",
                                            "RowKey": "state",
                                            "LastProcessedDate": "@{utcNow()}",
                                            "CollectionName": "@{items('For_Each_Collection')?['name']}",
                                            "IndicatorsProcessed": "@{length(json(body('Fetch_Feed')))}",
                                            "NewIndicators": "@{length(body('Filter_New_Indicators'))}",
                                            "LastRun": "@{utcNow()}"
                                        },
                                        "retryPolicy": { "type": "exponential", "count": 3, "interval": "PT5S", "maximumInterval": "PT1M" }
                                    },
                                    "runAfter": { "For_Each_New_Indicator": ["Succeeded", "Failed"] }
                                }
                            },
                            "runAfter": { "Take_Collections_For_This_Run": ["Succeeded"] }
                        },
                        "Check_Audit_Enabled": {
                            "type": "If",
                            "expression": {
                                "and": [
                                    { "equals": ["@parameters('EnableAuditLogging')", true] }
                                ]
                            },
                            "actions": {
                                "Log_Audit": {
                                    "type": "Http",
                                    "inputs": {
                                        "method": "POST",
                                        "uri": "@{concat(parameters('AuditDcrEndpoint'), '/dataCollectionRules/', parameters('AuditDcrImmutableId'), '/streams/', parameters('AuditStreamName'), '?api-version=2023-01-01')}",
                                        "headers": { "Content-Type": "application/json" },
                                        "authentication": { "type": "ManagedServiceIdentity", "audience": "https://monitor.azure.com" },
                                        "body": [
                                            {
                                                "TimeGenerated": "@{utcNow()}",
                                                "CollectionsProcessed": "@{length(outputs('Take_Collections_For_This_Run'))}",
                                                "IndicatorsCreated": "@{variables('total_created')}",
                                                "IndicatorsSkipped": "@{variables('total_skipped')}",
                                                "DurationMs": "@{div(sub(ticks(utcNow()), outputs('Record_Start_Time')), 10000)}",
                                                "Status": "@{if(equals(actions('For_Each_Collection')['status'], 'Failed'), 'Failed', 'Success')}",
                                                "ErrorMessage": "@{if(equals(actions('For_Each_Collection')['status'], 'Failed'), coalesce(actions('For_Each_Collection')?['error']?['message'], 'Collection processing failed'), '')}"
                                            }
                                        ],
                                        "retryPolicy": { "type": "exponential", "count": 3, "interval": "PT5S", "maximumInterval": "PT1M" }
                                    },
                                    "runAfter": {}
                                }
                            },
                            "else": { "actions": {} },
                            "runAfter": { "For_Each_Collection": ["Succeeded", "Failed"] }
                        }
                    }
                },
                "parameters": {
                    "SOCRadarApiKey": { "value": "[parameters('SOCRadarApiKey')]" },
                    "IncludeRecommended": { "value": "[parameters('IncludeRecommended')]" },
                    "CustomCollectionIds": { "value": "[parameters('CustomCollectionIds')]" },
                    "CustomCollectionNames": { "value": "[parameters('CustomCollectionNames')]" },
                    "CustomCollectionTypes": { "value": "[parameters('CustomCollectionTypes')]" },
                    "WorkspaceName": { "value": "[parameters('WorkspaceName')]" },
                    "StorageAccountName": { "value": "[variables('storageAccountName')]" },
                    "PollingIntervalMinutes": { "value": "[parameters('PollingIntervalMinutes')]" },
                    "MinConfidence": { "value": "[parameters('MinConfidence')]" },
                    "MaxCollectionsPerRun": { "value": "[parameters('MaxCollectionsPerRun')]" },
                    "EnableFeedsTable": { "value": "[parameters('EnableFeedsTable')]" },
                    "EnableAuditLogging": { "value": "[parameters('EnableAuditLogging')]" },
                    "FeedsDcrEndpoint": { "value": "[if(parameters('EnableFeedsTable'), reference(resourceId('Microsoft.Insights/dataCollectionEndpoints', variables('FeedsDceName')), '2023-03-11').logsIngestion.endpoint, '')]" },
                    "FeedsDcrImmutableId": { "value": "[if(parameters('EnableFeedsTable'), reference(resourceId('Microsoft.Insights/dataCollectionRules', variables('FeedsDcrName')), '2023-03-11').immutableId, '')]" },
                    "FeedsStreamName": { "value": "[variables('FeedsStreamName')]" },
                    "AuditDcrEndpoint": { "value": "[if(parameters('EnableAuditLogging'), reference(resourceId('Microsoft.Insights/dataCollectionEndpoints', variables('FeedsDceName')), '2023-03-11').logsIngestion.endpoint, '')]" },
                    "AuditDcrImmutableId": { "value": "[if(parameters('EnableAuditLogging'), reference(resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName')), '2023-03-11').immutableId, '')]" },
                    "AuditStreamName": { "value": "[variables('AuditStreamName')]" },
                    "SubscriptionId": { "value": "[subscription().subscriptionId]" },
                    "ResourceGroupName": { "value": "[resourceGroup().name]" }
                }
            }
        },
        {
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "2022-04-01",
            "name": "[guid(resourceGroup().id, variables('playbookName'), variables('SentinelContributorRoleId'))]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', variables('playbookName'))]"
            ],
            "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('SentinelContributorRoleId'))]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('playbookName')), '2019-05-01', 'Full').identity.principalId]",
                "principalType": "ServicePrincipal"
            }
        },
        {
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "2022-04-01",
            "name": "[guid(resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName')), variables('playbookName'), variables('StorageTableDataContributorRoleId'))]",
            "scope": "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', variables('playbookName'))]",
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
            ],
            "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('StorageTableDataContributorRoleId'))]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('playbookName')), '2019-05-01', 'Full').identity.principalId]",
                "principalType": "ServicePrincipal"
            }
        },
        {
            "condition": "[variables('enableDce')]",
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "2022-04-01",
            "name": "[guid(resourceId('Microsoft.Insights/dataCollectionEndpoints', variables('FeedsDceName')), variables('playbookName'), variables('MonitoringMetricsPublisherRoleId'))]",
            "scope": "[resourceId('Microsoft.Insights/dataCollectionEndpoints', variables('FeedsDceName'))]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', variables('playbookName'))]",
                "[resourceId('Microsoft.Insights/dataCollectionEndpoints', variables('FeedsDceName'))]"
            ],
            "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('MonitoringMetricsPublisherRoleId'))]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('playbookName')), '2019-05-01', 'Full').identity.principalId]",
                "principalType": "ServicePrincipal"
            }
        }
    ],
    "outputs": {
        "logicAppName": {
            "type": "string",
            "value": "[variables('playbookName')]"
        },
        "storageAccountName": {
            "type": "string",
            "value": "[variables('storageAccountName')]"
        },
        "pollingInterval": {
            "type": "string",
            "value": "[concat(string(parameters('PollingIntervalMinutes')), ' minutes')]"
        },
        "feedsTableName": {
            "type": "string",
            "value": "[if(parameters('EnableFeedsTable'), variables('FeedsTableName'), 'N/A')]"
        },
        "auditTableName": {
            "type": "string",
            "value": "[if(parameters('EnableAuditLogging'), variables('AuditTableName'), 'N/A')]"
        }
    }
}